html {
  height: 100%;
  width: 100%;
}
body {
  margin: 20px;
  height: 100vh;
  width: 100%;
  background-color: rgb(187, 209, 211);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navTree {
  /*border: solid 1px;*/
  padding-top: 5px;
  background-color: #EBF1F5; /*rgb(160, 210, 214);*/
}

.mainPage {
  padding-top: 5px;
  padding-left: 5px;
  /*border: solid 1px;*/
}

.loginPage {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /*border: solid 1px;*/
}

.chord-editor {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.panel {
  flex: 1;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.panel2 {
  flex: 2;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.chord-output {
  border-spacing: 0;
  border-collapse: collapse;
}
.chord-output td {
  padding: 0;
}
.chord-output table {
  margin: 10px 0;
}
